RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

AddDefaultCharset UTF-8

ErrorDocument 403 /403.php
ErrorDocument 404 /404.php

RewriteRule ^residence/([^/\.]+)$ /residence/index.php?id=$1 [NC,L]

# запрет выдачи листинга
Options -Indexes

<Files ~ "app\/\.php$">
  Order allow,deny
  Deny from all
</Files>
